@keyframes zoomOutBackground {
    from {
        background-size: 110%; /* Adjusted initial zoom to prevent edges showing */
    }
    to {
        background-size: 100%; /* End at the normal background size */
    }
}

/* Body and overall layout adjustments */
body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: zoomOutBackground 3s ease-out forwards;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Changed from default to column to align items vertically */
    align-items: center; /* Keeps everything centered horizontally */
    justify-content: flex-start; /* Adjusts content to start from the top */
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
}

header {
    width: 100%; /* Ensures the header spans the full width */
    text-align: center; /* Centers the text inside the header */
    padding: 20px 0; /* Adds padding on top and bottom */
    font-size: 22px;
}

#dialogue {
    width: 50%; /* Adjusted for appropriate width */
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 10px auto; /* Centers the dialogue box horizontally */
    border: 1px solid white;
}

#options-container {
    width: auto; /* Adjust width to fit the content */
    position: absolute; /* Positioning it absolutely within the relative parent */
    right: 200px; /* Distance from the right edge of the viewport */
    bottom: 600px; /* Distance from the bottom edge of the viewport */
    text-align: right; /* Aligns the text and the button to the right */
}

.option {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 10px 0; /* Maintain vertical spacing between multiple options if added */
    padding: 15px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0; /* Initially hidden, will appear with transition */
    transition: opacity 2s ease-in-out; /* Smooth transition for appearance */
    display: block; /* Ensures the button is treated as a block for spacing */
}

#muteButton {
    position: absolute;
    top: 20px;  
    right: 60px; 
}

#mute_img {
    width: 35px;
    height: 30px;
}
