@keyframes zoomOutBackground {
    from {
        background-size: 110%; /* Adjusted initial zoom to prevent edges showing */
    }
    to {
        background-size: 100%; /* End at the normal background size */
    }
}

body {
    background-size: 110%; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: zoomOutBackground 3s ease-out forwards;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    align-items: center; /* Aligns the container vertically */
    justify-content: center; /* Aligns the container horizontally to the right */
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#options-container {
    width: 15%; /* Adjust the width as necessary */
    margin-left: 2%; /* Adds space from the right edge */
    text-align: center; /* Aligns text to the left within the container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the options vertically within the container */
}

.option {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 10px 0;
    padding: 15px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0; /* Start fully transparent */
    transition: opacity 2s ease-in-out;
}

#arrival {
    width: 50%; /* Full width to center the text properly */
    text-align: center; /* Centers the text within the div */
    margin-top: 20px; /* Adds some space at the top */
    background: rgba(0, 0, 0, 0.8); /* Makes background slightly transparent */
    padding: 10px; /* Adds padding for visual comfort */
    border: 1px solid white;
}

#muteButton {
    position: absolute;
    top: 20px;  
    right: 60px; 
}

#mute_img {
    width: 35px;
    height: 30px;
}


