/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive; /* Changed to match the fantasy theme */
    background-image: ('/images/option1.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
}

h1 {
    margin-bottom: 20px;
}

nav button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #444;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #666;
}

#introduction {
    padding: 50px;
    background: rgba(0, 0, 0, 0.6);
}

.hidden {
    display: none;
}

footer {
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}

help-section p {
    color: black; /* Or any other light color that contrasts well with the background */
}
